:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

.buttons_container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.enable_vdd_container {
  margin-left: 10px;
  margin-bottom: 10px;
}